.btn{
    &,
    &:visited{
        text-decoration: none;
        font-size: 1.6rem;
        color: $color-text;
        cursor: pointer;
        transition: all .2s;
        display: inline-block;
        padding: 1rem 2.5rem;
        border-radius: .4rem;
        background-color: transparent;
        
    }
    &:hover{
        color: $color-primary;
        transform: translateY(-.5rem);
        box-shadow: 1rem 1rem 4rem rgba(0,0,0,.15);
    }
    &:active{
        transform: translateY(0rem);
        box-shadow: 0rem 1rem 2rem rgba(0,0,0,.2);
        outline: none;
    }
    &--white{
        background-color: $color-white;
        &:hover{
            background-color: $color-primary;
            color: $color-white;
        }
    }

    &--submit{
        padding: 1rem 5.5rem;
        border: $border-bottom;
        border-radius: 0;
        display: inline-block;
        margin-right: 2rem;

        &.sign-in-google{
            &:hover{
                background-color: orangered;
                color: $color-white;
                border:none;
                border-radius: .5rem;
            }
        }
        &:hover{
            background-color: $color-primary;
            color: $color-white;
        }
    }
}