.u-text-center{
    text-align: center;
}

.mg-bottom-large{
    margin-bottom: 4.2rem;
}

.mg-bottom-medium{
    margin-bottom: 2.2rem;
}

.mg-bottom-small{
    margin-bottom: 1.2rem;
}

.button-groups{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.effect-hover{
    color: $color-text;
    transition: all .2s;
    &:hover{
        color: $color-primary;
    }

    &:link{
        text-decoration: none;
    }
}